filter-transactions=1
filter-transaction-items=1
filter-menu-items=1
filter-stores=1

# Query 1
concat1=1
sender1=1

# Query 2a
counter2a=1
global-aggregator2a=1
joiner2a=1
sender2a=1

# Query 2b
counter2b=1
global-aggregator2b=1
joiner2b=1
sender2b=1

# Query 3
global-aggregator3=1
joiner3=1
partial-aggregator3=1
sender3=1

# Query 4
counter4=1
filter-users=1
global-aggregator4=1
joiner4=1
sender4=1